#portfolio {
    background-color: #fff;
}
.grid-gallery1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    /* margin-bottom: 50px !important; */
  }
  .imh {
   height: 400px;
   margin-bottom: 40px;
  }
  
  @media (max-width: 1024px) {
    .grid-gallery {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .grid-gallery {
      grid-template-columns: repeat(1, 1fr);
    }
  } 